


<form action="/tweets/<%= @tweet.id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <input type="text" name="body" value="<%=@tweet.body%>">
  <input type="submit" value="Edit dis">
</form>
