<div class="forms">
<form action="/sessions" method="post">
  <label class="label" for="username">Username</label>
  <input type="text" name="username" placeholder="BUMBALORD" value="<%= @username %>">

  <label class="label" for="password">Password</label>
  <input type="password" name="password" placeholder="********">

  <input type="submit" value="Login">

</form>
</div>
