
<div class="forms">
<% @user_tweets.each do |tweet| %>
  <div>
    <%= tweet.body %>
    <div class="spacer">
    <form action="/tweets/<%=tweet.id%>" method="post">
      <input type="hidden" name="_method" value="Delete">
      <input type="submit" value="Delete Chirp">
      <button type="button"> <a href="/tweets/<%=tweet.id %>/edit">Edit Chirp!</a></button>
    </form>

    </div>
  </div>

<% end %>
  </div>
  <div class="signup_button">
  <button type="button"> <a href="/tweets/new">New Chirp!</a></button>
  </div>

  <div class="signup_button">
  <button type="button"> <a href="/tweets">View All Chirps!</a></button>
  </div>

  <div class="signup_button">
  <form action="/sessions/<%= current_user.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Sign Out">
  </form>
  </div>
