<div class="forms">
  <form action="/users" method="post">
     <label class="label" for="name">Name</label>
    <input type="text" name="name" placeholder="  David">

    <label class="label" for="username">Username  </label>
    <input type="text" name="username"   placeholder="BUMBALORD">

    <label class="label" for="password">Password  </label>
    <input type="password" name="password"   placeholder="********">

    <input type="submit" value="Sign Up!">

  </form>
</div>
